/* Add your CSS Below */
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.header,
thead {
  background-color: green;
  color: whitesmoke;
  font-weight: 700;
  padding: 0.25em;
  text-align: center;
  border-radius: 0.25em 0.25em 0 0;
}

tr:nth-of-type(odd) {
  background-color: lightgray;
}

thead th {
  background-color: green;
  text-align: center;
}

th:nth-child(3) {
  text-align: right;
}

.data {
  border-collapse: collapse;
  /* text-align: center; */
  margin: auto;
}

td:nth-child(3) {
  text-align: right;
  padding: 0.5em;
}
td:nth-child(1) {
  text-align: center;
  padding: 0.5em;
}

td:nth-child(2) {
  text-align: center;
  padding: 0.5em;
}
